<%- include("partials/dynamic/header.ejs") %>
        <div class="hero">
          <h1><%= completionStatus %></h1>
          <p><%= content %></p>

          <div class="result-details" style="<%= navBarGrad %> ">
            <input
              class="shortener-form-input"
              type="text"
              name="inputURl"
              id="ipURl"
              value="<%= shortenedURl %> "
              readonly
            />
            <button class="shorten-button" id="copy-btn" onclick="copyText()">
              Copy
            </button>
          </div>
        </div>
  <%- include("partials/footer.ejs") %>